In [1]:
import pandas as pd
import numpy as np

In [2]:
df_subgen = pd.read_csv("genero_subgenero.csv") #check
df_multi = pd.read_csv("multimedia.csv") #check
df_usuarios = pd.read_csv("usuarios.csv") #check
df_prove = pd.read_csv("proveedores.csv") #check
df_subs = pd.read_csv("subscripciones.csv")
df_vis = pd.read_csv("visualizaciones.csv")
df_pagos = pd.read_csv("pagos.csv")

In [72]:
# Tabla users se puede usar tal cual
df_subs

      id     estado fecha_inicio  pro_id  uid fecha_termino   proveedor  costo
0    352     activa   2020-06-20       7  119           NaN       Star+   7100
1    340     activa   2020-08-20      20    5           NaN     DCCanal   4000
2    170     activa   2020-06-02       9   14           NaN    Showtime   3200
3    245     activa   2021-05-31       9   50           NaN    Showtime   3200
4    324     activa   2020-08-25      10   63           NaN        Stan   7900
..   ...        ...          ...     ...  ...           ...         ...    ...
414  282  cancelada   2020-05-27      15   46    2021-01-01  Discovery+   3700
415  195  cancelada   2020-05-20      11   43    2021-06-08     Peackok   4000
416  271     activa   2021-03-29      16   23           NaN  Rakuten TV   6500
417  339  cancelada   2021-11-09       7    5    2021-12-03       Star+   7100
418  214     activa   2020-07-07       9   72           NaN    Showtime   3200

[419 rows x 8 columns]

In [5]:
# De la table df_prove se puede encontrar la info de 
df_prove2 = df_prove[["id", "nombre", "costo"]]
df_prove3 = df_prove2.drop_duplicates().sort_values(by="id")
df_prove3 #Esta tabla es equivalente a la que nosotros tenemos

     id              nombre  costo
10    1             Netflix   4500
17    2  Amazon Prime Video   3700
26    3         Crunchyroll   4400
50    4                HBO+   3500
13    5          Funimation   3900
7     6             Disney+   6500
0     7               Star+   7100
11    8                Hulu   7000
3     9            Showtime   3200
184  10                Stan   7900
1    11             Peackok   4000
8    12                 Viu   5000
32   13            Sony Liv   3100
6    14      Movistar+ Lite   7400
66   15          Discovery+   3700
55   16          Rakuten TV   6500
18   17                 Sky   6400
28   18         ATRESplayer   2800
29   19         Mitele Plus   3700
2    20             DCCanal   4000

In [90]:
# Peliculas pagadas
df_pelipag = df_prove[~df_prove["precio"].isnull()].sort_values(by="id")[["id","costo", "pid","precio","disponibilidad"]]
df_pelipag
df_prove_serie = df_prove[~df_prove["sid"].isnull()][["id","sid"]] #id_prove e id_serie
df_prove_pelifree = df_prove[~df_prove["pid"].isnull()]
df_peli_incluida = df_prove_pelifree[df_prove_pelifree["precio"].isnull()][["id", "pid"]] # id_prove, id_peli

      id   pid
1     11  47.0
2     20  67.0
4     11  68.0
5     20  25.0
6     14  30.0
...   ..   ...
1124  17  22.0
1125   3   1.0
1126   3  30.0
1128  16  28.0
1129   9  96.0

[714 rows x 2 columns]

In [76]:
# Equivalente a columna la tabla de peliculas 
df_peli = df_multi[["pid","titulo","puntuacion","clasificacion","duracion","año"]].drop_duplicates()
df_peli = df_peli[pd.notnull(df_peli["pid"])]
df_peli

,pid,titulo,puntuacion,clasificacion,duracion,año
1,74.0,The Boxtrolls,1.0,NC-17,96,2014
2,6.0,Fahrenheit 451,3.0,G,100,2018
5,27.0,42,6.7,G,128,2013
8,41.0,The Mechanic,8.7,G,93,2011
10,45.0,The Tree of Life,7.4,PG-13,139,2011
...,...,...,...,...,...,...
527,88.0,Jack and Jill,3.0,G,91,2011
562,76.0,Dallas Buyers Club,4.9,PG,117,2013
576,39.0,Smoking Nonsmoking,3.2,PG,84,2011
594,63.0,The Legend of Secret Pass,8.9,G,92,2010
621,75.0,The Incredible Burt Wonderstone,4.6,PG,100,2013

In [70]:
df_serie = df_multi[["sid","cid","serie","titulo","puntuacion","año","clasificacion","genero","numero"]] 
df_serie = df_serie[pd.notnull(df_serie["sid"])].sort_values(by="sid")
df_serie_final = df_serie[["sid","serie","puntuacion","año","clasificacion","numero"]].drop_duplicates()\
                        .groupby(by=["serie","clasificacion"]).max("numero").reset_index()
df_serie_final = df_serie_final.rename(columns={'numero':'temporadas'})
df_serie_final #Series con sus temporadas

,serie,clasificacion,sid,puntuacion,año,temporadas
0,13 reasons why,R,11.0,8.3,2017,3.0
1,31 minutos,G,6.0,10.0,2003,4.0
2,Ataque a los titanes,PG-13,24.0,9.8,2010,3.0
3,Atypical,PG-13,15.0,9.2,2017,3.0
4,Avatar: la leyenda de Aang,G,26.0,7.9,2005,3.0
5,Dark,PG-13,5.0,9.9,2017,3.0
6,Doctor Who,G,30.0,9.0,2005,2.0
7,Dr. House,R,16.0,9.3,2004,3.0
8,Friends,PG,2.0,9.5,1994,5.0
9,Full Metal Alchemist Brotherhood,PG,25.0,8.6,2003,3.0
10,Gossip Girl,PG-13,28.0,8.0,2007,3.0
11,Grey's Anatomy,R,17.0,8.7,2005,3.0
12,Haikyuu!!,G,12.0,10.0,2014,3.0
13,Hora de aventura,G,18.0,9.4,2010,3.0
14,Hunter x Hunter,G,14.0,7.5,2011,3.0
15,Jojo's Bizarre Adventure,PG,3.0,10.0,2012,4.0
16,La Casa de Papel,PG-13,7.0,8.0,2017,3.0
17,Los Simpsons,PG-13,21.0,9.1,1989,3.0
18,My Hero Academia,G,10.0,8.6,2015,3.0
19,Naruto Shippuden,PG-13,4.0,9.8,2007,7.0
20,Peaky Blinders,PG,22.0,8.6,2013,3.0
21,Rick y Morty,PG,23.0,8.3,2013,3.0
22,Riverdale,PG-13,13.0,4.3,2017,3.0
23,Scream,NC-17,31.0,7.4,2015,2.0
24,Sex Education,R,1.0,8.0,2019,2.0
25,Sherlock,PG-13,29.0,9.2,2010,3.0
26,Supergirl,G,20.0,6.4,2015,3.0
27,Supernatural,PG-13,19.0,8.5,2005,3.0
28,The Crown,PG-13,9.0,9.5,2016,3.0
29,The Vampire Diaries,PG-13,27.0,9.2,2009,3.0
30,Élite,R,8.0,5.8,2018,3.0

In [37]:
lista_interes = ["sid", "genero"] #Genero de la serie
df_serie[lista_interes].drop_duplicates()

      sid           genero
0     1.0            Drama
437   1.0          Romance
694   1.0          Comedia
281   2.0          Comedia
690   2.0          Romance
..    ...              ...
210  30.0            Drama
648  30.0  Ciencia ficción
572  30.0         Aventura
643  31.0          Slasher
116  31.0           Horror

[91 rows x 2 columns]

In [16]:
items_peliculas = ["pid","titulo","duracion","clasificacion","puntuacion"]
items_genero_peli = ["pid", "genero"]
df_peli = df_multi[~df_multi["pid"].isnull()]
#2 tablas: genero_pelicula y peliculas
df_genero_peli = df_peli[items_genero_peli]
df_peli_final = df_peli[items_peliculas]
df_peli_final

      pid            titulo  duracion clasificacion  puntuacion
1    74.0     The Boxtrolls        96         NC-17         1.0
2     6.0    Fahrenheit 451       100             G         3.0
5    27.0                42       128             G         6.7
8    41.0      The Mechanic        93             G         8.7
10   45.0  The Tree of Life       139         PG-13         7.4
..    ...               ...       ...           ...         ...
674  19.0             Satin        84         PG-13         5.8
678  16.0     Venus & Vegas        95         PG-13         7.8
684  43.0       Unstoppable        98             G         3.3
691  14.0        Disconnect       112         PG-13         2.1
692  71.0    Santorini Blue        90            PG         6.7

[243 rows x 5 columns]

In [7]:
df_subgen # Queda igual

                          genero              nombre_subgenero
0                       Thriller           Thriller sicológico
1                Ciencia ficción  Ciencia ficción apocalíptica
2                       Misterio                           NaN
3                       Familiar                           NaN
4                Fantasía oscura                           NaN
5                         Acción                           NaN
6                          Drama                           NaN
7            Thriller sicológico                           NaN
8                      Biografía                           NaN
9                Ciencia ficción                       Biopunk
10                      Fantasía               Fantasía oscura
11            Romance Planetario                           NaN
12               Ciencia ficción            Romance Planetario
13                       Biopunk                           NaN
14                       Comedia                           NaN
15  Ciencia ficción apocalíptica                           NaN
16                        Guerra                           NaN
17                      Aventura                           NaN
18                       Deporte                           NaN
19                     Cyberpunk                           NaN
20               Ciencia ficción                     Cyberpunk
21                     Histórico                           NaN
22                     Animación                           NaN
23                       Slasher                           NaN
24                        Música                           NaN
25                        Horror                       Slasher
26                        Crimen                           NaN
27                       Romance                           NaN

In [110]:
df_pagos
lista_atributos = ["pago_id", "fecha", "uid", "pid", "pro_id"] #no es necesario el monto
lista_atributos_2 = ["pago_id", "fecha", "uid", "subs_id"]
df_registro_peli_paga = df_pagos[~df_pagos["pid"].isnull()][lista_atributos] #Pago peli pagas
df_pagos[df_pagos["pid"].isnull()][lista_atributos_2] # pago subscripción
df_registro_peli_paga

      pago_id       fecha  uid    pid  pro_id
23      10727  2021-12-08   93   35.0     7.0
34      10643  2021-08-02   24   14.0     2.0
40      10470  2021-12-14   41    2.0     1.0
43      10582  2020-09-15   19   42.0     7.0
59      10618  2021-11-10   87  101.0     4.0
...       ...         ...  ...    ...     ...
4299    10673  2021-05-02   17   81.0     5.0
4301    10508  2020-11-15   74   53.0     6.0
4332    10396  2021-06-08   35   82.0     7.0
4340    10548  2020-12-25   34   80.0     2.0
4359    10425  2021-01-25   59   31.0    13.0

[379 rows x 5 columns]

In [107]:
lista = ["id","estado","fecha_inicio","pro_id","uid", "fecha_termino"] # id -> id_subscripcion
df_subs[lista]

      id     estado fecha_inicio  pro_id  uid fecha_termino
0    352     activa   2020-06-20       7  119           NaN
1    340     activa   2020-08-20      20    5           NaN
2    170     activa   2020-06-02       9   14           NaN
3    245     activa   2021-05-31       9   50           NaN
4    324     activa   2020-08-25      10   63           NaN
..   ...        ...          ...     ...  ...           ...
414  282  cancelada   2020-05-27      15   46    2021-01-01
415  195  cancelada   2020-05-20      11   43    2021-06-08
416  271     activa   2021-03-29      16   23           NaN
417  339  cancelada   2021-11-09       7    5    2021-12-03
418  214     activa   2020-07-07       9   72           NaN

[419 rows x 6 columns]