In [1]:
import pandas as pd
import numpy as np

In [129]:
df_subgen = pd.read_csv("genero_subgenero.csv") #check
df_multi = pd.read_csv("multimedia.csv") #check
df_usuarios = pd.read_csv("usuarios.csv") #check
df_prove = pd.read_csv("proveedores.csv") #check
df_subs = pd.read_csv("subscripciones.csv")
df_vis = pd.read_csv("visualizaciones.csv")
df_pagos = pd.read_csv("pagos_v2.csv")

In [263]:
# Tabla users se puede usar tal cual
df_subgen
df_gen = df_subgen["genero"].drop_duplicates()
df_subgenero = df_subgen[~df_subgen["nombre_subgenero"].isnull()]
df_gen = df_gen.reset_index()
df_subgenero
df_gen = df_gen["genero"].reset_index().rename({'index':'gid'}, axis=1)

#df_subgenero.join(df_gen, on="genero")
df_gen_subgen = df_gen.set_index('genero').join(df_subgen.set_index('genero'))
df_gen_subgen = df_gen_subgen.reset_index()[["gid","nombre_subgenero"]]
df_gen_subgen = df_gen_subgen[~df_gen_subgen["nombre_subgenero"].isnull()]
#df_gen_subgen.to_csv(folder + "genero_subgenero.csv", index=False)
#df_gen.to_csv("8)genero.csv", index=False)
df_gen_subgen = df_gen_subgen.rename(columns={"nombre_subgenero":"genero"})
df_gen_subgen = df_gen_subgen.merge(df_gen, on="genero", how="inner")
df_gen_subgen = df_gen_subgen.rename(columns={'gid_x': "gid" ,"gid_y":"subgid"})[["gid","subgid"]]
df_gen_subgen.to_csv("9)subgenero.csv", index=False)

In [233]:
# De la table df_prove se puede encontrar la info de 
df_prove2 = df_prove[["id", "nombre", "costo"]]
df_prove3 = df_prove2.drop_duplicates().sort_values(by="id")
df_prove3 #Esta tabla es equivalente a la que nosotros tenemos
folder = 'ToBDD/'
df_prove3.to_csv(folder + '6)proveedor.csv', index=False)
df_prove3

     id              nombre  costo
10    1             Netflix   4500
17    2  Amazon Prime Video   3700
26    3         Crunchyroll   4400
50    4                HBO+   3500
13    5          Funimation   3900
7     6             Disney+   6500
0     7               Star+   7100
11    8                Hulu   7000
3     9            Showtime   3200
184  10                Stan   7900
1    11             Peackok   4000
8    12                 Viu   5000
32   13            Sony Liv   3100
6    14      Movistar+ Lite   7400
66   15          Discovery+   3700
55   16          Rakuten TV   6500
18   17                 Sky   6400
28   18         ATRESplayer   2800
29   19         Mitele Plus   3700
2    20             DCCanal   4000

In [301]:
# Peliculas pagadas
df_pelipag = df_prove[~df_prove["precio"].isnull()].sort_values(by="id")[["id","costo", "pid","precio","disponibilidad"]]
df_pelipag
df_prove_serie = df_prove[~df_prove["sid"].isnull()][["id","sid"]].sort_values(by="id") #id_prove e id_serie
df_prove_pelifree = df_prove[~df_prove["pid"].isnull()]
df_peli_incluida = df_prove_pelifree[df_prove_pelifree["precio"].isnull()][["id", "pid"]].sort_values(by="id")
# id_prove, id_peli
#df_peli_incluida.to_csv(folder+'3)ofreceenplan.csv', index=False)
#df_prove_serie.to_csv(folder+'2.1)proveedor_serie.csv', index=False)
df_pelipag = df_pelipag.rename({'id':'pro_id'}, axis=1).sort_values(by="pro_id")[["pro_id","pid","precio","disponibilidad"]]
#df_pelipag.to_csv(folder + '2)ofrece_pagadas.csv', index = False)
df_pelipag.to_csv(folder+"2)ofrece_pagadas.csv", index=False)

In [224]:
# Equivalente a columna la tabla de peliculas
df_peli = df_multi[["pid","titulo","puntuacion","clasificacion","duracion","a√±o"]].drop_duplicates()
df_peli = df_peli[pd.notnull(df_peli["pid"])].sort_values(by="pid")
#df_peli.to_csv(folder + '1)peliculas.csv', index=False)
df_peli

       pid             titulo  puntuacion clasificacion  duracion   a√±o
241    1.0  Return to Babylon         7.1             G        75  2013
141    2.0     Life's a Beach         9.0         PG-13       100  2012
311    3.0                '77         2.1             G       113  2017
97     4.0        In My Sleep         1.6            PG       104  2010
90     5.0    The Evil Within         4.6         PG-13        98  2017
..     ...                ...         ...           ...       ...   ...
442   97.0     Waking Madison         5.2             G        89  2010
15    98.0     The Babymakers         6.6         NC-17        95  2012
57    99.0     Electric Slide         6.7            PG        95  2014
169  100.0            Krystal         2.0         PG-13        90  2017
428  101.0             Scream         7.0         NC-17       111  1996

[101 rows x 6 columns]

In [220]:
df_serie = df_multi[["sid","cid","serie","titulo","puntuacion","a√±o","clasificacion","genero","numero"]] 
df_serie = df_serie[pd.notnull(df_serie["sid"])].sort_values(by="sid")
df_serie_final = df_serie[["sid","serie","puntuacion","a√±o","clasificacion","numero"]].drop_duplicates()\
                        .groupby(by=["serie","clasificacion"]).max("numero").reset_index()
df_serie_final = df_serie_final.rename(columns={'numero':'temporadas'})
df_serie_final = df_serie_final[["sid","serie","clasificacion","puntuacion","a√±o","temporadas"]]
df_serie_final = df_serie_final.astype({"sid": int, "temporadas":int}, copy=True)
df_serie_final.to_csv(folder+'4)series.csv', index=False)
df_serie_final

,sid,serie,clasificacion,puntuacion,a√±o,temporadas
0,11,13 reasons why,R,8.3,2017,3
1,6,31 minutos,G,10.0,2003,4
2,24,Ataque a los titanes,PG-13,9.8,2010,3
3,15,Atypical,PG-13,9.2,2017,3
4,26,Avatar: la leyenda de Aang,G,7.9,2005,3
5,5,Dark,PG-13,9.9,2017,3
6,30,Doctor Who,G,9.0,2005,2
7,16,Dr. House,R,9.3,2004,3
8,2,Friends,PG,9.5,1994,5
9,25,Full Metal Alchemist Brotherhood,PG,8.6,2003,3
10,28,Gossip Girl,PG-13,8.0,2007,3
11,17,Grey's Anatomy,R,8.7,2005,3
12,12,Haikyuu!!,G,10.0,2014,3
13,18,Hora de aventura,G,9.4,2010,3
14,14,Hunter x Hunter,G,7.5,2011,3
15,3,Jojo's Bizarre Adventure,PG,10.0,2012,4
16,7,La Casa de Papel,PG-13,8.0,2017,3
17,21,Los Simpsons,PG-13,9.1,1989,3
18,10,My Hero Academia,G,8.6,2015,3
19,4,Naruto Shippuden,PG-13,9.8,2007,7
20,22,Peaky Blinders,PG,8.6,2013,3
21,23,Rick y Morty,PG,8.3,2013,3
22,13,Riverdale,PG-13,4.3,2017,3
23,31,Scream,NC-17,7.4,2015,2
24,1,Sex Education,R,8.0,2019,2
25,29,Sherlock,PG-13,9.2,2010,3
26,20,Supergirl,G,6.4,2015,3
27,19,Supernatural,PG-13,8.5,2005,3
28,9,The Crown,PG-13,9.5,2016,3
29,27,The Vampire Diaries,PG-13,9.2,2009,3
30,8,√âlite,R,5.8,2018,3

In [239]:
df_capitulos = df_serie[["sid","cid","titulo","numero"]]
df_capitulos = df_capitulos.rename(columns={"titulo": "titulocap", "numero": "temporada"}).astype({"cid":int,"sid":int,"temporada":int})
df_capitulos.to_csv("5)capitulos.csv", index=False)

In [290]:
lista_interes = ["sid", "genero"] #Genero de la serie
df_serie_genero = df_serie[lista_interes].drop_duplicates()
#df_serie_genero.to_csv(folder + 'genero_serie.csv', index=True)
df_serie_genero = df_serie_genero.merge(df_gen, on="genero", how="left")[["sid","gid"]]
#df_serie_genero.to_csv("11)genero_serie.csv", index = False)
#df_serie_genero.query("sid == 23")
df_serie_genero

     sid   gid
0    1.0   6.0
1    1.0  24.0
2    1.0  12.0
3    2.0  12.0
4    2.0  24.0
..   ...   ...
86  30.0   6.0
87  30.0   1.0
88  30.0  15.0
89  31.0  20.0
90  31.0  22.0

[91 rows x 2 columns]

In [291]:
items_peliculas = ["pid","titulo","duracion","clasificacion","puntuacion"]
items_genero_peli = ["pid", "genero"]
df_peli = df_multi[~df_multi["pid"].isnull()]
#2 tablas: genero_pelicula y peliculas
df_genero_peli = df_peli[items_genero_peli]
df_peli_final = df_peli[items_peliculas]
df_genero_peli = df_genero_peli.sort_values(by="pid")
df_genero_peli = df_genero_peli.merge(df_gen, on="genero", how="left")[["pid","gid"]]
#df_genero_peli.to_csv("10)genero_pelicula.csv", index=False)
df_genero_peli

       pid  gid
0      1.0    8
1      1.0   12
2      1.0    6
3      2.0   12
4      3.0    6
..     ...  ...
238   99.0   23
239  100.0   12
240  100.0    6
241  101.0   22
242  101.0   20

[243 rows x 2 columns]

In [131]:
df_subgen # Queda igual
df_subgen.to_csv(folder + 'genero_subgenero.csv', index=False)

In [296]:
df_pagos
lista_atributos = ["pago_id", "uid", "pid", "pro_id", "fecha"] #no es necesario el monto
lista_atributos_2 = ["pago_id", "uid", "subs_id", "fecha"]
df_registro_peli_paga = df_pagos[~df_pagos["pid"].isnull()][lista_atributos] #Pago peli pagas
df_pago_subs = df_pagos[df_pagos["pid"].isnull()][lista_atributos_2] # pago subscripci√≥n
df_registro_peli_paga = df_registro_peli_paga.sort_values(by="pago_id")
df_pago_subs = df_pago_subs.sort_values(by="pago_id")
#df_pago_subs.to_csv(folder+"pago_subscripcion.csv", index=False)
#df_registro_peli_paga.to_csv(folder+".csv", index=False)
#df_registro_peli_paga
#df_pago_subs.sort_values(by="uid")
df_registro_peli_paga = df_registro_peli_paga.sort_values(by="pago_id")
df_registro_peli_paga.to_csv("15)contrata_pelicula.csv", index=False)

In [292]:
lista = ["id","estado","fecha_inicio","pro_id","uid", "fecha_termino"] # id -> id_subscripcion
df_sub = df_subs[lista]
#df_sub.to_csv(folder+"14)subscripcion.csv", index=False)
df_sub.sort_values(by="uid")

      id     estado fecha_inicio  pro_id  uid fecha_termino
137  377     activa   2020-12-12      13    1           NaN
59   381  cancelada   2020-08-05       8    1    2020-11-26
244  379  cancelada   2021-06-16      14    1    2021-11-19
155  378     activa   2021-10-11       7    1           NaN
72   382  cancelada   2021-11-13      12    1    2021-11-24
..   ...        ...          ...     ...  ...           ...
296  386     activa   2021-06-28       5  142           NaN
373  383  cancelada   2020-08-09      12  142    2020-08-29
29    24  cancelada   2021-05-06       9  146    2021-11-10
176   25     activa   2020-12-28       8  146           NaN
356   26     activa   2020-05-22      16  146           NaN

[419 rows x 6 columns]

In [206]:
df_vis_peli = df_vis[~df_vis["pid"].isnull()][["uid", "pid", "fecha"]]
df_vis_serie = df_vis[~df_vis["cid"].isnull()][["uid","cid","fecha"]]
df_vis_peli.to_csv(folder+"16)vepelicula.csv", index=False)
df_vis_serie.to_csv(folder+"17)veserie.csv", index=False)

In [242]:
df_usuarios = df_usuarios.rename(columns={"id":"uid"}).sort_values(by="uid")
#df_usuarios.to_csv("7)usuarios.csv", index=False)