In [1]:
import pandas as pd
import numpy as np

In [18]:
df_subgen = pd.read_csv("genero_subgenero.csv")
df_multi = pd.read_csv("multimedia.csv")
df_pagos = pd.read_csv("pagos.csv")
df_usuarios = pd.read_csv("usuarios.csv")
df_subs = pd.read_csv("subscripciones.csv")
df_prove = pd.read_csv("proveedores.csv")
df_vis = pd.read_csv("visualizaciones.csv")

In [105]:
# Tabla users se puede usar tal cual
df_prove

      id       nombre  costo   sid   pid  precio  disponibilidad
0      7        Star+   7100  10.0   NaN     NaN             NaN
1     11      Peackok   4000   NaN  47.0     NaN             NaN
2     20      DCCanal   4000   NaN  67.0     NaN             NaN
3      9     Showtime   3200   5.0   NaN     NaN             NaN
4     11      Peackok   4000   NaN  68.0     NaN             NaN
...   ..          ...    ...   ...   ...     ...             ...
1125   3  Crunchyroll   4400   NaN   1.0     NaN             NaN
1126   3  Crunchyroll   4400   NaN  30.0     NaN             NaN
1127   3  Crunchyroll   4400  28.0   NaN     NaN             NaN
1128  16   Rakuten TV   6500   NaN  28.0     NaN             NaN
1129   9     Showtime   3200   NaN  96.0     NaN             NaN

[1130 rows x 7 columns]

In [47]:
# De la table df_prove se puede encontrar la info de 
df_prove2 = df_prove[["id", "nombre", "costo"]]
df_prove3 = df_prove2.drop_duplicates().sort_values(by="id")
df_prove3 #Esta tabla es equivalente a la que nosotros tenemos

     id              nombre  costo
10    1             Netflix   4500
17    2  Amazon Prime Video   3700
26    3         Crunchyroll   4400
50    4                HBO+   3500
13    5          Funimation   3900
7     6             Disney+   6500
0     7               Star+   7100
11    8                Hulu   7000
3     9            Showtime   3200
184  10                Stan   7900
1    11             Peackok   4000
8    12                 Viu   5000
32   13            Sony Liv   3100
6    14      Movistar+ Lite   7400
66   15          Discovery+   3700
55   16          Rakuten TV   6500
18   17                 Sky   6400
28   18         ATRESplayer   2800
29   19         Mitele Plus   3700
2    20             DCCanal   4000

In [91]:
df_peliPaga = df_prove.query("precio >= 0")
df_peliPaga = df_peliPaga.drop("sid",axis=1)
df_peliPaga

      id              nombre  costo   pid  precio  disponibilidad
19     2  Amazon Prime Video   3700   2.0  4000.0             1.0
20     5          Funimation   3900  51.0  6500.0             1.0
32    13            Sony Liv   3100  99.0  6000.0             1.0
33    18         ATRESplayer   2800  37.0  6000.0             2.0
39    11             Peackok   4000  84.0  5000.0             2.0
...   ..                 ...    ...   ...     ...             ...
1081  10                Stan   7900  72.0  4000.0             1.0
1085   7               Star+   7100   8.0  5000.0             1.0
1093   1             Netflix   4500  83.0  3000.0             2.0
1094  16          Rakuten TV   6500  49.0  7500.0             7.0
1098   2  Amazon Prime Video   3700  80.0  6000.0             2.0

[151 rows x 6 columns]

In [76]:
# Equivalente a columna la tabla de peliculas 
df_peli = df_multi[["pid","titulo","puntuacion","clasificacion","duracion","año"]].drop_duplicates()
df_peli = df_peli[pd.notnull(df_peli["pid"])]
df_peli

,pid,titulo,puntuacion,clasificacion,duracion,año
1,74.0,The Boxtrolls,1.0,NC-17,96,2014
2,6.0,Fahrenheit 451,3.0,G,100,2018
5,27.0,42,6.7,G,128,2013
8,41.0,The Mechanic,8.7,G,93,2011
10,45.0,The Tree of Life,7.4,PG-13,139,2011
...,...,...,...,...,...,...
527,88.0,Jack and Jill,3.0,G,91,2011
562,76.0,Dallas Buyers Club,4.9,PG,117,2013
576,39.0,Smoking Nonsmoking,3.2,PG,84,2011
594,63.0,The Legend of Secret Pass,8.9,G,92,2010
621,75.0,The Incredible Burt Wonderstone,4.6,PG,100,2013

In [93]:
df_serie = df_multi[["sid","cid","serie","titulo","puntuacion","año","clasificacion","genero","numero"]] 
df_serie = df_serie[pd.notnull(df_serie["sid"])].sort_values(by="sid")
df_serie[["sid","serie","puntuacion","año","clasificacion","numero"]].drop_duplicates()

      sid          serie  puntuacion   año clasificacion  numero
0     1.0  Sex Education         8.0  2019             R     1.0
437   1.0  Sex Education         8.0  2019             R     2.0
281   2.0        Friends         9.5  1994            PG     4.0
278   2.0        Friends         9.5  1994            PG     3.0
252   2.0        Friends         9.5  1994            PG     5.0
..    ...            ...         ...   ...           ...     ...
483  29.0       Sherlock         9.2  2010         PG-13     1.0
210  30.0     Doctor Who         9.0  2005             G     2.0
191  30.0     Doctor Who         9.0  2005             G     1.0
643  31.0         Scream         7.4  2015         NC-17     1.0
116  31.0         Scream         7.4  2015         NC-17     2.0

[98 rows x 6 columns]

In [80]:
df_multi

,pid,sid,cid,titulo,duracion,clasificacion,puntuacion,año,numero,serie,genero
0,NaN,1.0,2.0,Episode 2,66,R,8.0,2019,1.0,Sex Education,Drama
1,74.0,NaN,NaN,The Boxtrolls,96,NC-17,1.0,2014,NaN,NaN,Comedia
2,6.0,NaN,NaN,Fahrenheit 451,100,G,3.0,2018,NaN,NaN,Ciencia ficción apocalíptica
3,NaN,20.0,124.0,Las aventuras de Supergirl,40,G,6.4,2015,2.0,Supergirl,Ciencia ficción
4,NaN,4.0,63.0,El viajero,20,PG-13,9.8,2007,7.0,Naruto Shippuden,Aventura
...,...,...,...,...,...,...,...,...,...,...,...
691,14.0,NaN,NaN,Disconnect,112,PG-13,2.1,2010,NaN,NaN,Ciencia ficción
692,71.0,NaN,NaN,Santorini Blue,90,PG,6.7,2013,NaN,NaN,Drama
693,NaN,4.0,52.0,El Akatsuki comienza a moverse,20,PG-13,9.8,2007,1.0,Naruto Shippuden,Comedia
694,NaN,1.0,2.0,Episode 2,66,R,8.0,2019,1.0,Sex Education,Comedia
695,NaN,2.0,10.0,El del detergente de lavandería germano-oriental,22,PG,9.5,1994,1.0,Friends,Comedia